{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/proposal-decorators", { "legacy": true }],
    "@babel/transform-react-jsx"
  ]
}
